header {
  position: sticky;
  top: 2rem;
  width: 90%;
  max-width: 1360px;
  margin: 2rem auto 0;
  z-index: 1000;
  font-family: 'Inter', sans-serif;
  border-radius: 10px 10px 10px 10px;

  &.scrolled {
    h3 {
      font-size: 2rem;
      font-style: italic;
  font-family: 'Satisfy', cursive;


      margin: 0.3rem 0;
    }
    .hamburger {
      display: flex; 
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      padding-right: 2rem;

      span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--nav-text);
        transition: transform 0.3s;
      }
    }

    nav {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #e4c6f7;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      z-index: 1000;

      &.active {
        display: flex;
      }

      .nav-link {
        width: 100%;
        text-align: center;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #0939f8a1, #b507f48f, #8507f480);;
    opacity: 0.5; 
    z-index: -1;
    border-radius: inherit;
  }

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 ;
    padding: 0 0 0 20px;
  }

  nav {
    display: flex;
    justify-content: right;
    gap: 0.2rem;
    padding-right: 10px;
  }

  .nav-link {
    color: var(--nav-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;

    &:hover {
      background-color: #ede3ff;
      color: #713ff9;
    }
  }
}
  
  .contact-floating-button {
    position: fixed;
    bottom: 4rem;
    left: 4rem;
    background: radial-gradient(circle ,#e4faf5,  #f5f6e3, #bad5fd, #a3a6f5fc, #b884f8fc);
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: in-out-animation 1s infinite ease-in-out;

    /* Hover Effect */
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.6), 0 0 20px rgba(0, 123, 255, 0.4);
    }
  
    .text-path {
      position: absolute;
      width: 90%;
      height: 90%;
      fill: none; 
      stroke: none;
      text {
        font-size: 0.8rem;
        fill: var(--contact-me-text); 
        font-weight: bold !important;
        letter-spacing: 2px;
      }
    }
  
    .contact-icon {
      font-size: 1.8rem; /* Adjust icon size */
      position: absolute;
    }
  }
  
  @keyframes in-out-animation {
    0% {
      transform: scale(1); /* Original size */
    }
    50% {
      transform: scale(1.1); /* Slightly larger */
    }
    100% {
      transform: scale(1); /* Back to original size */
    }
  }

  main {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }

  .footer {
    background-color: #fff;
    color: #333;
    padding: 1rem 1rem 0;
    text-align: center;
    border-top: 1px solid #3333332c; 

    .footer-container {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .footer-links {
      margin-bottom: 1rem;
  
      a {
        color: #a848d5;
        margin: 0 0.5rem;
        font-size: 1.5rem;
        transition: color 0.3s ease;
  
        &:hover {
          color: #333;
        }
      }
    }
  
    .footer-text {
      font-size: 0.875rem;
    }
  }  

html, body {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #8916f5;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.1s ease-out, background-color 0.2s;
  z-index: 9999;
  /* Optional: a little glow */
  box-shadow: 0 0 10px rgba(137, 22, 245, 0.5);
}

.emoji-trail {
  font-size: 1px !important;
  filter: hue-rotate(270deg);
  opacity: 1;
  animation: fadeOutUp 1s forwards;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -20px);
  }
}

.custom-cursor.active {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: rgba(137, 22, 245, 0.2);
}

  @media (max-width: 880px) {
    header {
      padding: 0.5rem;
      .header-flex {
        margin: 0 auto;
        padding: 0 1rem;
  
        h2 {
          // font-size: 1.2rem;
          text-align: center;
        }
  
        .hamburger {
          display: flex; 
          flex-direction: column;
          gap: 5px;
          cursor: pointer;
          span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: var(--nav-text);
            transition: transform 0.3s;
          }
        }
      }
  
      nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #e4c6f7;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
  
        &.active {
          display: flex;
        }
  
        .nav-link {
          // font-size: 1rem;
          width: 100%;
          text-align: center;
        }
      }
    }
  
    .contact-floating-button {
      bottom: 2rem;
      // left: calc(50% - 50px);
      width: 80px;
      height: 80px;
      font-size: 1.2rem;
      left: 2rem;
      
      svg {
        width: 70%; // Scale SVG for smaller button
        height: 70%;
      }
    }
  }
  