<!-- Conditionally Render Header -->
<!-- Conditionally Render Header -->
<header *ngIf="router.url !== '/'" [ngClass]="{'scrolled': isScrolled}">
  <div class="header-flex">
    <!-- Change the header text based on scroll state -->
    <h3>{{ isScrolled ? 'AS' : 'ANJANA SRUTHI RANGA' }}</h3>
    <!-- The hamburger remains the same; you could also conditionally add a class if needed -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav [ngClass]="{ active: isMenuOpen }" class="navbar">
      <a routerLink="/about" class="nav-link">About</a>
      <a [routerLink]="['/about']" fragment="education-container" class="nav-link">Education</a>
      <a routerLink="/experience" class="nav-link">Experience</a>
      <a routerLink="/skills" class="nav-link">Skills</a>
      <a routerLink="/projects" class="nav-link">Projects</a>
      <a routerLink="/contactForm" class="nav-link">Contact Me</a>
      <a href="https://drive.google.com/file/d/1vpippwmpD3VOb5BxocZjT4XQ09_Yd0Yk/view?usp=sharing"
         target="_blank" class="nav-link">
         RESUME <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </nav>
  </div>
</header>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

  <main [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>

<!-- Floating Contact Button -->
<button class="contact-floating-button" (click)="scrollToContact()">
  <svg class="text-path" viewBox="0 0 100 100">
    <!-- Path for "Hire Me" -->
    <path id="topCircle" d="M 50,50 m -40,0 a 40,40 0 1,1 80,0" />

    <!-- Path for "Contact Me" -->
    <path id="bottomCircle" d="M 50,50 m -40,3 a 40,40 0 1,0 80,0" />

    <!-- "Hire Me" on Top -->
    <text>
      <textPath href="#topCircle" startOffset="35%" text-anchor="middle">HIRE ME</textPath>
    </text>

    <!-- "Contact Me" on Bottom -->
    <text>
      <textPath href="#bottomCircle" startOffset="62%" text-anchor="middle" dy="0.2em">CONTACT ME</textPath>
    </text>

  </svg>
  <span class="contact-icon">📬</span>
</button>

<footer class="footer" *ngIf="router.url !== '/'">
    <div class="footer-container">
      <div class="footer-links">
        <a href="https://www.linkedin.com/in/anjana-sruthi-ranga-164148211/" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/AnjanaSruthiR?tab=repositories" target="_blank" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:ranga.anj@northeastern.edu" aria-label="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
      <div class="footer-text">
        <p>&copy; 2025 Anjana Sruthi Ranga. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  