<div id="about" class="about-container">
  <section class="intro" @fadeIn>
    <div class="intro-content">
      <div class="bubble-image-container">
        <img src="./assets/About/Profile_Photo.JPG" alt="Profile Image" class="bubble-image" />
      </div>
      <div class="intro-text">
        <h1>Hi! I’m Anjana Sruthi</h1>
        <h2>I design secure, scalable, and interactive cutting-edge applications.</h2>
        <p>I excel at identifying challenges, streamlining processes, and delivering user-centric solutions that drive
          efficiency.
          A fun fact about me is, I love dinosaurs and never miss a rewatch of Jurassic Park!
        </p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/anjana-sruthi-ranga-164148211/" target="_blank" class="social-icon" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
            <span class="tooltip">LinkedIn</span>
          </a>
          <a href="https://github.com/AnjanaSruthiR?tab=repositories" target="_blank" class="social-icon" aria-label="GitHub">
            <i class="fab fa-github"></i>
            <span class="tooltip">GitHub</span>
          </a>
          <a href="mailto:ranga.anj@northeastern.edu" target="_blank" class="social-icon" aria-label="Email">
            <i class="fas fa-envelope"></i>
            <span class="tooltip">Email</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="what-i-do" class="what-i-do">
  <h1>My Services</h1>
  <div class="services">
    <div class="service-card">
      <i class="fas fa-laptop-code"></i>
      <h3>Software Development</h3>
      <p>I build responsive, user-centric apps with modern frameworks, blending innovative design and robust code for intuitive digital experiences.</p>
    </div>
    <div class="service-card">
      <i class="fas fa-shield-alt"></i>
      <h3>Security Engineering</h3>
      <p>I design scalable IAM solutions with Okta-based SSO/MFA, ensuring secure data and seamless access.</p>
    </div>
    <div class="service-card">
      <i class="fas fa-globe"></i>
      <h3>Web Development</h3>
      <p>I build dynamic, high-performance web apps with modern frameworks, exceptional UI/UX, and responsive design for robust, captivating solutions.</p>
    </div>
  </div>
</div>

<div id="education-container" class="education-container">
  <div class="accordion-item" [class.active]="isOpen">
    <div class="accordion-header" (click)="toggleAccordion()">
      <i class="fas fa-graduation-cap accordion-icon-left"></i>      
      <span class="header-text">Education</span>
      <span class="accordion-icon">{{ isOpen ? '-' : '+' }}</span>
    </div>
    <div class="accordion-content">
      <div class="education-grid">
        <div *ngFor="let edu of educationList" class="education-card">
          <div class="card-header">
            <img [src]="edu.logo" alt="{{ edu.institution }} Logo" class="college-logo" />
            <div class="header-details">
              <h4>{{ edu.degree }}</h4>
              <p class="institution">{{ edu.institution }}</p>
              <p class="cgpa"><b>CGPA:</b> {{ edu.cgpa }}</p><hr>
              <div class="card-body">      
                <p>Relevant Courses:</p>
                <ul class="description">
                  <li *ngFor="let line of edu.description"> {{ line }}</li>
                </ul>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>

<div id="testimonials" class="testimonials-container">
  <h2>Testimonials</h2>
  <div class="testimonials-wrapper">
    <div *ngFor="let testimonial of testimonials" class="testimonial-card" @fadeIn>
      <div class="testimonial-header">
        <h3>{{ testimonial.name }}</h3>
        <p class="position">{{ testimonial.position }}</p>
      </div>
      <div class="testimonial-body">
        <p>{{ testimonial.content }}</p>
      </div>
    </div>
  </div>
</div>