<div id="about" class="about-container">
    <section class="intro" @fadeIn>
      <div class="intro-content">
        <img src="./assets/About/Profile_Photo.jpg" alt="Profile Image" class="intro-image" />
        <div class="intro-text">
          <h1>Hi! I’m Anjana Sruthi</h1>
           <h3> I architect and develop secure, scalable applications using MERN and MEAN frameworks, <br>
            complemented by enterprise IAM solutions such as Okta-based SSO and MFA. </h3>
            <p>I excel at identifying challenges, streamlining processes, and delivering user-centric solutions that drive efficiency. 
              A fun fact about me is, I love dinosaurs and never miss a rewatch of Jurassic Park!
            </p>
          <!-- Social Media Links -->
          <div class="social-links">
            <a href="https://www.linkedin.com/in/anjana-sruthi-ranga-164148211/" target="_blank" class="social-icon" aria-label="LinkedIn">
              <i class="fab fa-linkedin"></i>
              <span class="tooltip">LinkedIn</span>
            </a>
            <a href="https://github.com/AnjanaSruthiR?tab=repositories" target="_blank" class="social-icon" aria-label="GitHub">
              <i class="fab fa-github"></i>
              <span class="tooltip">GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="what-i-do" class="what-i-do">
    <h2>What I Do</h2>
    <div class="services">
      <div class="service-card">
        <i class="fas fa-laptop-code"></i>
        <h3>Software Development</h3>
        <p>Developing responsive, user-centric applications using Angular, ReactJS, Node.js, Express.js, and more. 
          I blend innovative design with solid coding practices to create intuitive digital experiences.
        </p>
      </div>
      <div class="service-card">
        <i class="fas fa-shield-alt"></i>
        <h3>Security Engineering</h3>
        <p>Designing and implementing robust IAM solutions with Okta-based SSO and MFA. 
          I build secure, scalable frameworks that protect data and ensure seamless authentication across platforms.
        </p>
      </div>
      <div class="service-card">
        <i class="fas fa-globe"></i>
        <h3>Web Development</h3>
        <p>Building dynamic, high-performance web applications with modern frameworks and UI/UX best practices. 
          I deliver visually captivating and functionally robust solutions that meet user needs.
        </p>
      </div>
      <div class="service-card">
        <i class="fas fa-mobile-alt"></i>
        <h3>Responsive Web Design</h3>
        <p>Crafting mobile-friendly, responsive pages that seamlessly adapt to any device. 
          I leverage modern design principles to ensure optimal performance and an engaging user experience across desktops, tablets, and smartphones.
        </p>
      </div>
    </div>
  </div>