.about-container {
  text-align: center;
  padding: 2rem;
  background: url('../../assets/About/Bg_About.jpg') no-repeat center center;
  background-size: cover;

  .intro {
    margin-top: 3rem;

    .intro-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      
      .bubble-image-container {
        width: 300px;
        margin: 0 3rem;
      }
      
      .bubble-image {
        width: 60%;
        height: auto;
        object-fit: cover;
        clip-path: polygon(
          40% 5%,
          80% 10%,
          100% 40%,
          99% 77%,
          77% 100%,
          30% 100%,
          5% 85%,
          0% 55%,
          5% 25%
        );
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      

      .intro-text {
        text-align: center;
        max-width: 90%;

        h1 {
          font-size: 2.5rem;
          background: var(--text-gradient); 
          -webkit-background-clip: text; 
          -webkit-text-fill-color: transparent; 
          margin: 1rem;
        }

        h2 {
          margin: 0 0 1rem;
          font-size: 32px;
          color: #282828f6;
        }

        p {
          font-size: 1rem;
          color: #919191;
          margin: 0 auto;
        }
      }
    }
  }
}

.social-links {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;

  .social-icon {
    position: relative;
    font-size: 1.5rem;
    color: #000000;
    transition: color 0.3s ease;

    &:hover {
      color: #bd5cea;
    }

    .tooltip {
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      font-size: 0.75rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
      white-space: nowrap;
    }

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

.what-i-do {
  text-align: center;
  padding: 3rem 2rem;

  h1 {
    font-size: 2.5rem;
    background: var(--text-gradient); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin: 1rem 0 3rem;
  }

  .services {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;

    .service-card {
      background: #fff;
      padding: 1rem;
      text-align: center;
      max-width: 340px;

      i {
        font-size: 3rem;
        color: #8916f5;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #000000;
      }

      p {
        font-size: 1rem;
        color: #919191;
        line-height: 1.5;
      }
    }
  }
}

.education-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: auto; 
  text-align: center;
  // padding: 5rem;

  .accordion-item {
    width: 100%;
    max-width: 1300px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 2rem;

    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      background: var(--card-background);
      cursor: pointer;
      border: 1px solid #ccc;
      user-select: none;

      .accordion-icon-left {
        font-size: 2rem;
        margin-right: 1rem;
      }
      
      .header-text {
        flex-grow: 1;
        font-size: 1.5rem;
        font-weight: bold;
      }
      
      .accordion-icon {
        font-size: 1.5rem;
      }
    }
    
    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease;
      padding: 0 1rem;
      background: #fff;
    }
    
    &.active {
      .accordion-content {
        max-height: 1500px;
        padding: 1rem;
      }
    }
  }

  .education-grid {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 1rem;
    width: 100%; 
  }

  .education-card {
    background: #fff;
    width: 90%; 
    max-width: 1200px; 
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 1rem; 

    .card-header {
      padding: 0.5rem;
      display: flex;

      .college-logo {
        width: 140px;
        height: 80px;
        object-fit: contain;
        border-radius: 5px;
        flex-shrink: 0;
        margin-top: 2rem;
      }

      .header-details {
        border-radius: 10px;
        border: 1px solid #bc19d9;
        box-shadow: 0 0 15px rgba(189, 21, 211, 0.2);
        width: 90%; 
        max-width: 750px; 
        text-align: left;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        padding: 2rem;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 5px 10px 15px #595858;
        }

        h4 {
          font-size: 1.5rem;
          color: #343a40;
          margin: 0 0 0.5rem 0;
        }

        .institution {
          font-size: 1.2rem;
          color: #232526d6;
          margin: 0 0 0.5rem 0;
        }

        .cgpa {
          font-size: 1rem;
          color: #495057;
          margin: 0;
        }

        hr {
          border: none;
          height: 2px;
          background-color: #ccc;
          margin: 1rem;
        }
      }
    }

    .card-body {
      border-radius: 0 0 25px 25px;

      p {
        margin: 0.3rem 0;
        color: #646465;
      }

      .description {
        font-size: 1rem;
        color: #646465;
        line-height: 1.5rem;
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;

        li {
          margin-bottom: 0.3rem;
        }

        b {
          color: #212529;
        }
      }
    }
  }
}

.testimonials-container {
  padding: 0 2rem 2rem;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .testimonials-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    margin: 0 5rem;
  }

  .testimonial-card {
    flex: 1 1 calc(33.33% - 2rem);
    min-width: 280px;
    background: #f6e9f654;
    border: 1px solid #bc19d9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    overflow: hidden;

    &::before {
      content: "“";
      position: absolute;
      top: -20px;
      left: -10px;
      font-size: 6rem;
      color: #c564f9;
      z-index: 0;
    }

    .testimonial-header {
      position: relative;
      z-index: 1;
      margin-bottom: 1rem;

      h4 {
        font-size: 1.5rem;
        margin: 0;
        color: #333;
      }

      .position {
        font-size: 1rem;
        color: #777;
        margin: 0.3rem 0;
      }
    }

    .testimonial-body {
      position: relative;
      z-index: 1;

      p {
        font-size: 0.9rem;
        color: #5b5959;
        line-height: 1.6;
        margin: 0;
        white-space: pre-line;
      }
    }
  }
}

  @media (max-width: 1024px) {
    .about-container .intro .intro-content {
      gap: 2rem !important;
    }
  
    .about-container h2 {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width: 768px) {
    .about-container .intro .intro-content {
      flex-direction: column;
      text-align: center;
      max-width: 100% !important;
  
      .bubble-image-container {
        margin: 0 !important;
      }
  
      .bubble-image {
        width: 130px;
        height: 180px;
      }
      
      .intro-text,
      .social-links {
        text-align: center !important;

        h1 {
          margin: 0rem !important;
          padding-bottom: 1rem;
        }

        h2 {
          font-size: 1.3rem !important;
        }
      }
    }
  
    .what-i-do .services {
      flex-direction: column;
      align-items: center;
    }
  
    .education-container .education-grid {
      gap: 0.5rem;
    }
  
    .education-container .education-card {
      max-width: 95% !important;
      // padding: 1rem;
  
      .card-header {
        flex-wrap: wrap !important;
        flex-direction: column !important;
        align-items: center;
  
        .college-logo {
          width: 100px;
          margin: 1rem;
        }
  
        .header-details {
          padding-left: 1.5rem;
        }
      }
  
      .card-body {
        padding: 1rem;
      }
    }
  }