.about-container {
  text-align: center;
  padding: 2rem;

  .intro {
    margin-top: 3rem;

    .intro-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      
      .bubble-image-container {
        width: 300px;
        margin: 0 3rem;
      }
      
      .bubble-image {
        width: 60%;
        height: auto;
        object-fit: cover;
        clip-path: polygon(
          40% 5%,
          80% 10%,
          100% 40%,
          99% 77%,
          77% 100%,
          30% 100%,
          5% 85%,
          0% 55%,
          5% 25%
        );
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      

      .intro-text {
        text-align: center;
        max-width: 90%;

        h1 {
          font-size: 2.5rem;
          background: var(--text-gradient); 
          -webkit-background-clip: text; 
          -webkit-text-fill-color: transparent; 
          margin: 1rem;
        }

        h2 {
          margin: 0 0 1rem;
          font-size: 32px;
          color: #282828f6;
        }

        p {
          font-size: 1rem;
          color: #919191;
          margin: 0 auto;
        }
      }
    }
  }
}

.social-links {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;

  .social-icon {
    position: relative;
    font-size: 1.5rem;
    color: #000000;
    transition: color 0.3s ease;

    &:hover {
      color: #bd5cea;
    }

    .tooltip {
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      font-size: 0.75rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
      white-space: nowrap;
    }

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

.what-i-do {
  text-align: center;
  padding: 3rem 2rem;

  h1 {
    font-size: 2.5rem;
    background: var(--text-gradient); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin: 1rem 0 3rem;
  }

  .services {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;

    .service-card {
      background: #fff;
      padding: 1rem;
      text-align: center;
      max-width: 340px;

      i {
        font-size: 3rem;
        color: #8916f5;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #000000;
      }

      p {
        font-size: 1rem;
        color: #919191;
        line-height: 1.5;
      }
    }
  }
}


@media (max-width: 1024px) {
  .intro-content {
    gap: 2rem !important;
  }
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    text-align: center;

    .intro-text, .social-links {
      text-align: center !important;
      justify-content: center;
      
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        max-width: 90%;
      }
    }
    .bubble-image-container {
      margin: 0px !important;
    }

    .bubble-image {
      width: 130px; 
      height: 180px;
    }
  }

  .services {
    flex-direction: column; 
    align-items: center;
  }
}